body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 60px;
}

h1 {
    color: #FF9900;
}

h2 {
    color: #333333;
}

p {
    font-size: 18px;
    color: #555555;
}